.bg { 
    
    /*background: linear-gradient(Black,#696969);*/
  background: url("./media/moon_background.jpg") no-repeat center top fixed;

  /* Full height */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-size: cover;
  }

  h1 {
      color: white;
  }
  
  h2, h3 {
      color: black;
  }

  p {
      padding-bottom: 0;
      margin-bottom: 0;
  }

  .row {
      align-content: center;
  }
  #footer {
    color: white;

  }